* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {

  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: palevioletred;
  background-color: pink;

}




img{
  width: 750px;
  height: 500px;
}

nav{
  position: absolute;
  right: 0%;
  top: 0%;
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 50px;
}


.link{
  text-decoration: none;
  color: black;
}


.hero {
  background-color: #fff; 
  color: #666; 
  padding: 5px 5px;
  text-align: center;

  .purple-box {
    background-color: #d19fbb; 
    padding: 5px;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    height: 100%;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: #333; 
    }
  }
}
/* 

.header {
  
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;

  
  }

  .nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          font-size: 18px;
          color: #666; 
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: #ff69b4; 
          }
        }
      }
    }
  }
}

.hero {
  background-color: #fff; 
  color: #666; 
  padding: 5px 5px;
  text-align: center;

  .purple-box {
    background-color: #d19fbb; 
    padding: 5px;
    border-radius: 500px;
    margin-bottom: 10px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: #333; 
    }
  }
}

.content {
  text-align: center;

  h1 {
    font-size: 32px;
    color: #333; 
    margin-bottom: 50px;
  }

  p {
    font-size: 18px;
    color: #666; 
    line-height: 1.6;
    margin-bottom: 20px;
  }
} */
