.servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* body {
    background: linear-gradient(to bottom, #e77cb5 25%, rgb(228, 189, 219) 25%);
    background-color: pink; 
    margin: 0; 
    font-family: Arial, sans-serif; 
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
} */

.container{
    background-image: linear-gradient( #f9b0ca, #f9eff3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 90px 50px 0 50px;

}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .servicos {
        margin: 40px;
        grid-template-columns: 1fr;
        positon: absolute;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 10px;
    }

    .servicos {
        display: flex;
        align-itens: center;
        justify-content: center;

    }
}