.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;

  .logo {
    width: 330px; 
    margin-bottom: -100px; 
  }

  .email-input {
    width: 80%;
    max-width: 300px;
    padding: 15px;
    margin-bottom: 10px; 
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
  }

  .send-button {
    width: 80%;
    max-width: 300px;
    padding: 15px;
    background-color: #145adb;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0e3a8b;
    }
  }

  .message {
    margin-top: 20px;
    color: #145adb;
    font-size: 16px;
  }

  .home-button {
    margin-top: 20px; 
    padding: 15px;
    background-color: #081c40;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e63900;
    }
  }
}

